@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.collage {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;
}

.g { grid-column: span 2; grid-row: span 1; }
.m { grid-column: span 1; grid-row: span 2; }
.c { grid-column: span 1; grid-row: span 1; }

.collage a {
  display: block;
  overflow: hidden;
  border: 2px solid black;
  transition: border 0.2s ease;
}

.collage a:hover {
  border: 2px solid white;
}

.collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.texto_central{
  position: fixed;
inset: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
pointer-events: none;
background: rgb(0, 0, 0, 0.4);
}

h1
{
  font-size: 120px;
  letter-spacing: 12px;
  color: rgb(248, 248, 248);
  text-transform: uppercase;
}

p
{
  font-size: 22px;
  color: rgb(223, 210, 209);
  letter-spacing: 4px;
  text-transform: uppercase;
}

